@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";
html, body {
    font-family: 'Montserrat', sans-serif;
    background-color: #2C2F33;
    color: #FFFFFF;
}

a.lnkbutton {
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid #FFFFFF;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #FFFFFF;
    text-align: center;
    transition: all 0.2s;
}

a.lnkbutton:hover {
    color: #000000;
    background-color: #FFFFFF;
}

@media all and (max-width: 30em) {
    a.lnkbutton {
        display: block;
        margin: 0.4em auto;
    }
}

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ellipsis div {
    position: absolute;
    top: 0px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(24px, 0);
    }
}

.center {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.input-field {
    position: relative;
    width: 250px;
    height: 44px;
    line-height: 44px;
}

label {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: #bbbbbb;
    transition: 0.2s all;
    cursor: text;
}

input {
    background-color: #2C2F33;
    width: 100%;
    border: 0;
    outline: 0;
    padding: 0.5rem 0;
    border-bottom: 2px solid #23272a;
    box-shadow: none;
    color: #7289da;
}

input:invalid {
    outline: 0;
}

input:focus, input:valid {
    border-color: #7289da;
}

input:focus ~ label, input:valid ~ label {
    font-size: 14px;
    top: -24px;
    color: #7289da;
}
